<% include header %>

    
            <header class="masthead" style="background-image: url('/assets/img/post-bg.jpg')">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="page-heading">
                                <h1>DANG NHAP</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container-fluid justify-content-center">

                <form class="form" action="/dangnhap" method="POST">
                    <div>
                        <label for="tennv">Ten dang nhap</label>
                        <input type="text" name="tdn" class="form-control" required="required">
                    </div>
                    <div>
                        <label for="tuoi">Password</label>
                        <input type="password" name="mk" class="form-control" required="required">
                    </div>

                    <div>
                        <button class="btn btn-danger" type="submit">Them</button>
                    </div>
                </form>
            </div>

            <% include footer %>